---
layout: portfolio
title: Will Higo - Director
---
<h1 class="center"><a rel="home" href="/thunderhoof.html" class="plain">Will Higo</a></h1>
<h2 class="center">
  Director / <a href="/editor">Editor</a>
</h2>
{% include byline.html %}

<div class="container"
  {% for video in site.data.director %}
  ><span class="thumbnail-container"
    ><div class="absolute player" data-vimeo-id="{{ video.id }}" data-vimeo-width="360" data-vimeo-height="225" data-vimeo-title="false" data-vimeo-byline="false" data-vimeo-portrait="false" data-vimeo-badge="false"></div
    ><img src="/images/{{ video.image }}" class="absolute foreground thumbnail" alt width="360" height="225"
  ></span
  {% endfor %}
></div>
