html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
html {
  font-size: 1em;
  line-height: 1.4;
  background: #fff;
  height: 100%;
  font-family: Roboto, sans-serif;
}
body {
  max-width: 1080px;
  min-width: 360px;
  margin: 0 auto;
  padding: 4em;
  height: 100%;
}
h1, h2 {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}
h1 {
  font-size: 3em;
  letter-spacing: 1em;
  margin-right: -1em;
  line-height: 1.5;
  margin-bottom: 0.5em;
}
h2 {
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  color: #666;
  line-height: 1;
  margin-bottom: 1.1em;
}
h3 {
  font-weight: 400;
  line-height: 1;
  margin-bottom: 2em;
  color: #666;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #000;
}
.center {
  text-align: center;
}
.padded {
  margin: 1em;
}
.fade {
  transition: opacity 0.5s ease-in-out;
}
.transparent {
  opacity: 0;
}
.thumbnail-container {
  width: 360px;
  height: 225px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.absolute-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.foreground {
  z-index: 10;
}
.forerground {
  z-index: 20;
}
.container {
  line-height: 0;
  text-align: center;
}
.text-container {
  line-height: 1.4;
  text-align: left;
  color: #333;
}
.text-container p {
  margin-bottom: 1em;
}
.plain {
  text-decoration: none;
  color: inherit;
}
.strip {
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  width: 340px;
  padding: 1em 10px;
  color: #fff;
  line-height: 1.4;
}
@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?7l727e');
  src:  url('/fonts/icomoon.eot?7l727e#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?7l727e') format('truetype'),
    url('/fonts/icomoon.woff?7l727e') format('woff'),
    url('/fonts/icomoon.svg?7l727e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-envelop:before {
  content: "\e945";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vimeo:before {
  content: "\eaa0";
}
