html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd, blockquote, address {
  margin: 0;
  padding: 0;
}
html {
  font: 1em/1.4 Catamaran, sans-serif;
  background: rgb(245, 245, 235);
}
body {
  max-width: 800px;
  margin: 0 auto;
  padding: 4em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 400;
  color: #666;
}
h3 {
  font-weight: 400;
  margin-bottom: 2em;
}
a {
  color: #666;
}
.center {
  text-align: center;
}
.padded {
  margin: 1em;
}
.transparent {
  opacity: 0;
}
.thumbnail-container {
  width: 360px;
  height: 225px;
  position: relative;
  display: inline-block;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.foreground {
  z-index: 10;
}
