<h1 class="center"><a rel="home" href="/" class="plain">Will Higo</a></h1>
<h2 class="center">
  <a href="/editor">Editor</a> &bull; <a href="/director">Director</a>
</h2>
<h3 class="center">
  <a class="plain" href="mailto:will@willhigo.com" title="will@willhigo.com"><span class="icon-envelop">&nbsp;</span></a>
  <a class="plain" href="https://vimeo.com/user1798446" title="Vimeo"><span class="icon-vimeo">&nbsp;</span></a>
  <a class="plain" href="https://instagram.com/w_higo" title="Instagram"><span class="icon-instagram">&nbsp;</span></a>
  <a class="plain" href="/about" title="About"><span class="icon-info">&nbsp;</span></a>
</h3>
