---
layout: portfolio
title: Will Higo - Director
---
<h1 class="center"><a rel="home" href="/thunderhoof.html" class="plain">Will Higo</a></h1>
<h2 class="center">
  <a href="/director">Director</a> / Editor
</h2>
{% include byline.html %}

<div class="container"
  {% for video in site.data.editor %}
  ><span class="thumbnail-container"
    ><iframe name="{{ id }}" src="https://player.vimeo.com/video/{{ video.id }}?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="360" height="225" frameborder="0" class="absolute player" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe
    ><img src="/images/{{ video.image }}" class="absolute foreground thumbnail" alt width="360" height="225"
  ></span
  {% endfor %}
></div>
