<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=609">
    <title>{{ page.title }}</title>
    <script src="https://use.typekit.net/ddh3ggd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    {{ content }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/1.6.6/lity.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="/javascript/thumbnails.js"></script>
    {% include analytics.html %}
  </body>
</html>
